# Data inspection

Import the necessay packages

In [1]:
import pandas as pd

Load the data with the Pandas package.

In [2]:
data = pd.read_csv('data/data.csv', index_col = 0)

To get a first impression of the data, we display the first 4 columns using the head() function.

In [ ]:
data.head(4)

The first step is to check if all the rows of the dataframe are uniques. Sometimes it happends that accidentaly rows are duplicated during data gathering, so it's good practice to perform this check before doing further analyses. 
Pandas had a function 'drop_duplicates()' that can be used to remove duplicates in your dataframe. You can use it to remove rows that are duplicate, but you can also use it for example to remove only rows with duplicate identifiers. 

Add this moment we are only interesting in unique rows. And I do not only want to delete duplicates, but also check it there were any duplicates.

I start with counting the rows in mijn dataframe:

In [ ]:
len(data)

Then drop_duplicates. This removes duplicates rows by keeping only one of them.

In [ ]:
data = data.drop_duplicates()

And print again the length

In [ ]:
len(data)

Now we have dropped all duplicates, we want to look at the indentifiers. We want to compare unique articels so its good to check

In [ ]:
data['identifier'].nunique()

After this first inspection rough inspection, we want to see if the content of the columns looks plausible. For the categorial columns, we can print the unique categories that are in there, to check for any anolomies. This can be done with the unique() function.

In [ ]:
data['type'].unique()

Bekijk nu zelf de unieke categorieÃ«n voor de kolommen subcategory, category and spatial.

In [ ]:
## Code for subcategory

In [ ]:
## Code for category

In [ ]:
## Code for spatial

Voor andere kolommmen, zoals data en year, kunnen we kijken naar de minimale en maximale waarde. Aan de hand daarvan kunnen we kijken of deze inderdaad kloppen met de verwachtingn van de dataset qua afbakingen. 

Dit kun je doen met de min() en max() functies.

In [ ]:
data['date'].min()

In [ ]:
data['date'].max()

Bekijk zelf de min en max van jaar. Komt dit overeen met de min en max van date?

In [ ]:
## Code voor jaar min

In [ ]:
## Code voor jaar max

Ditzelfde kun je ook doen voor de dictionar score. Hier wordt een waarde tussen de 0 en 100 verwacht, aangezien dit het percentage gevonden woorden is.

In [ ]:
## Code voor minimale DL score

In [ ]:
## Code voor max DL score

Om te kijken of er geen hele korte of extreem lange artikelen inzitten, kun je de lengte van artikelen uitrekenen en een extra kolom toevoegen met deze lengte. Vervolgens kun je hier ook de min en max van bekijken. Dit kan je gebruiken om te kijken of je bepaalde artikellengtes wil uitsluiten (bijv. artikelen van 0 woorden of juist 10.000 woorden). 

Het berekenen van de lengte toen we heel arbitrair door de artikelen te splitsen op spaties. Deze methode is niet 100% correct maar geeft wel een goed globaal beeld. 

Aanpassingen die je voor alle rijen in een dataframe wilt uitvoeren kun je uitvoeren met onderstaande apply functie.

In [ ]:
data['length'] = data['content'].apply(lambda x: len(x.split()))

In [ ]:
data.head(2)

Bekijk nu zelf de minimale en maximale waarde van de kolom length

In [ ]:
## Code voor minimale waarde

In [ ]:
## Code voor maximale waarde

Na deze eerste checks op de inhoud van het dataframe, wil je nog kijken of er geen lege cellen of Nan values in het dataframe voorkomen. (uitleg wat het verschil is?)

In [ ]:
data[data.isnull().any(axis= 1)]

In [ ]:
data = data.dropna()

In [ ]:
data[data.isnull().any(axis= 1)]

Na de aanpassingen kun je het dataframe opslaan.

In [ ]:
data.to_csv('data/data_new.csv')