# Data filtering

In dit Notebook wordt getoond hoe je een selectie kan maken maken voor verder onderzoek. 

Gezien de beperkte grootte van Binder qua opslagruimte, richten we ons op een vergelijking tussen artikelen over fietsen in regionale en landelijke dagbladen. 

De eerst stap is het importeren van de pandas package:

In [3]:
import pandas as pd

Daarna laden we het dataframe

In [4]:
data = pd.read_csv('data/data.csv', index_col = 0)

En we kijken of alles goed is gegaan:

In [16]:
data.head(2)

,identifier,type,title,date,content,subcategory,category,Year,DL score,spatial
24,http://resolver.kb.nl/resolve?urn=ddd:01106750...,artikel,Bij de aanstaande winterdienstregeling,1880/09/15 00:00:00,Bij de aanstaande winterdienstregeling op de S...,trein,trein,1880,72.188139,Landelijk
25,http://resolver.kb.nl/resolve?urn=MMKB23:00142...,advertentie,Advertentie,1883/06/23 00:00:00,"W.H.C.DEBOCK, Piet Heinstraat, 43. (6108) BADG...",trein,trein,1883,45.115453,Landelijk

Als eerste maken we een nieuw dataframe aan, genaamd `fiets_df`.

In de eerste stap filteren we op basis van de kolom `category` alleen de rijen `fiets` eruit.

In [11]:
fiets_df = data[data['category'] == 'fiets']

Tijdens de data exploratie zagen we dat de transcripties voor de familieberichten en de advertenties gemiddeld genomen erg slecht was. We willen daarom alleen maar de artikelen overhouden. 

Ook hiervoor maken we een filter.

**Let op!** Dit nieuwe filteren passen we toe op het zojuist gemaakte dataframe `fiets_df`

In [12]:
fiets_df = fiets_df[fiets_df['type'] == 'artikel']

In [13]:
len(fiets_df)

402

Aangezien we in het volgende dataframe tekstuele analyses willen doen, willen we niet dat de kwaliteit van de tekst te slecht is. Daarom filteren we alle artikelen eruit met een DL score lager dan 70%.

In [17]:
fiets_df = fiets_df[fiets_df['DL score'] >=70]

En we slaan deze set op voor verder gebruik

In [18]:
fiets_df.to_csv('data/fiets.csv')